extends layout

block content
    div.card-container
        a.card(href="/turn?choice=rock")
            img(src="/images/rock.jfif")
        a.card(href="/turn?choice=paper")
            img(src="/images/paper.jfif")
        a.card(href="/turn?choice=scissors")
            img(src="/images/scissors.jfif")